<% @page_title = @bubble.title %>

<% content_for :header do %>
  <nav>
    <%= link_to "#", class: "btn flex-item-justify-start", data: { controller: "back-navigation", back_navigation_fallback_destination_value: bubbles_path(bucket_id: @bubble.bucket) } do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Back</span>
    <% end %>

    <span class="flex-item-justify-end">
      <%= render "bubbles/pop_toggle", bubble: @bubble %>
    </span>
  </nav>
<% end %>

<aside class="flex align-start justify-end" style="--bubble-color: <%= @bubble.color %>">
  <div class="flex flex-column gap-half">
    <%= bubble_action_button('new-color', 'art', 'Color it') %>

    <%= form_with model: @bubble, url: bucket_bubble_path(@bubble.bucket, @bubble), data: { controller: "form" } do |form| %>
      <label class="btn full-width justify-start borderless">
        <%= image_tag "calendar-add.svg", aria: { hidden: true }, size: 24 %>
        <span><%= @bubble.due_on.present? ? "Change" : "Add a" %> due date</span>
        <%= form.date_field :due_on, class: "input input--hidden", data: { action: "change->form#submit click->form#showPicker" } %>
      </label>
    <% end %>

    <%= link_to new_bucket_bubble_assignments_path(@bubble.bucket, @bubble),
        class: "btn full-width justify-start borderless",
        data: { turbo_frame: dom_id(@bubble, :assignments) } do %>
      <%= image_tag "person.svg", aria: { hidden: true }, size: 24 %>
      <span>Assign to someone</span>
    <% end %>
    <%= bubble_action_button('new-tag', 'tag', 'Tag this') %>
    <%= bubble_action_button('new-attachment', 'picture-add', 'Attach a file') %>
    <%= bubble_action_button('new-boost', 'thumb-up', 'Boost this') %>
  </div>
</aside>

<div class="bubble__container">
  <div class="bubble__perma flex justify-center center margin-block-end-double">
    <%= render "bubbles/bubble", bubble: @bubble %>
  </div>

  <%= render "bubbles/messages", bubble: @bubble %>
</div>

<div class="flex align-start justify-start">
  <%= turbo_frame_tag dom_id(@bubble, :stage_picker), src: new_bucket_bubble_stage_picker_path(@bubble.bucket, @bubble) %>
</div>
